/core-bc/modules/portlet/src/main/resources/rebel.xml
/core-bc/modules/theme/src/main/resources/rebel.xml
/core-bc/modules/hook/src/main/resources/rebel.xml

.DS_Store

.settings
.settings/*
.classpath
.project

core-bc/modules/hook/target/*
core-bc/modules/hook/.settings/*

